{% extends "layout.html" %}

{% block title %}
    Shopping List
{% endblock %}

{% block main %}
    <h3>Shopping List</h3>
    <div class="form-check" style="text-align:left">
        <ul class="list-group">
            {% for ingredient in ingredients %}
                <li class="list-group-item"><label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    {{ ingredient }}
                </label></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}